<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智能导诊系统测试集收集</title>
    <script src="lib/vue-v2.5.2.js"></script>
    <script src="https://cdn.bootcss.com/FileSaver.js/1.3.8/FileSaver.js" ></script>
</head>
<body>
    <div id="app" style="margin-left: 10%;margin-top: 1% ;">
        <form>
            <label>请从以下科室中选择一个：</label>
            <br/>
            <div style="margin-top: 10px;">
                <label id="4" for="fuchanke">呼吸内科</label>
                <input type="radio" name="label"  value="呼吸内科" v-model="label"/>
                <label  id="5" for="gandanyixianwaike" style="margin-left: 10px;">肝胆胰腺外科</label>
                <input type="radio" name="label" value="肝胆胰腺外科" v-model="label"/>
                <label  id="6" for="ganranke" style="margin-left: 10px;">感染科 传染科</label>
                <input type="radio" name="label" value="感染科 传染科" v-model="label"/>
            </div>
            <br/>
        </form>
        <form>
            <label id="1" for="erke">性别:</label>
            <label id="nan" for="fuchanke">男</label>
            <input type="radio" name="sex"  value="男" v-model="sex"/>
            <label  id="nv" for="gandanyixianwaike" style="margin-left: 10px;">女</label>
            <input type="radio" name="sex" value="女" v-model="sex"/>
        </form>
        <br />
        <form>
            <label for="erke">年龄:</label>
            <input type="text" name="" value="" v-model="age"/>
        </form>
        <br />
        <form>
            <label id="1" for="erke">疾病名称</label>
            <br/>
            <div style="margin-top: 10px;">
                <textarea rows="5" cols="30" placeholder="" value="" v-model="illName"></textarea>
            </div>
        </form>
        <br />
        <form>
            <label id="1" for="erke">症状描述：</label>
            <br/>
            <div style="margin-top: 10px;">
                <textarea rows="15" cols="30" placeholder="请输入至少15个字以上" value="" v-model="text"></textarea>
            </div>
        </form>
       
        <input type="submit" value="OK" @click="onclick"/>
        <span >当前已录入{{arr_length}}条</span>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
           label:'呼吸内科',
           text:'',
           age:'',
            sex:'',
            illName:'',
           arr:[], //最终的数据
           arr_length:0,
        },
        methods: {
            onclick:function (){
                if(this.label == '' || this.text == ''){
                    alert("请填写完整！")
                    return false
                }
                var name = this.label
                
                //id -- label -- illname -- sex --age -- text
                var str = this.label +"\t"+this.illName+"\t"+this.sex+"\t"+this.age+"\t"+this.text
                //var str = this.label +"\t"+this.text

                this.arr.push(str)
                this.arr_length =this.arr.length

                //this.label ='';
                this.text='';
                this.age ='';
                //this.illName =''
                //this.sex = ''

                var long_str = this.arr.toString().replace(/,/g,'\n')
                if(this.arr.length == 11){
                    var blob = new Blob([long_str], {type: "text/plain;charset=utf-8"});
                    var file_name = name +".txt"
                    saveAs(blob, file_name);
                    this.arr_length = 0
                }
                
                
            }
        }
        })
</script>
</html>
